<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>需</title>
    <meta name="google-site-verification" content="KSGoiHTZ-9sCCb_zjC8ugnxMI6a0zS18es7g19tyEMM" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>



<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="/blueimp-gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/bootstrap-image-gallery/css/bootstrap-image-gallery.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.2/assets/css/emojione.min.css"/>
<link rel="stylesheet" href="/emojionearea/css/emojionearea.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">
{% style "/css/screen.css" %}

<div id="navbar"></div>
<div id="app">
    <div class="container">
        <span class="glyphicon glyphicon-refresh spinning loading-page"></span>
    </div>
</div>
<div id="navbar-bottom"></div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close updated">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/bootstrap-image-gallery/js/bootstrap-image-gallery.js"></script>
<script src="/jquery/jquery.hoverIntent.js"></script>
<script src="/jquery/jquery.qrcode.min.js"></script>
<script src="//cdn.jsdelivr.net/emojione/1.5.2/lib/js/emojione.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
<script src="/emojionearea/js/emojionearea.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/clojure.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/clojure-repl.min.js"></script>

{% style "/css/screen.css" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% script "/js/app.js" %}

<script>
    // TODO: Rewrite the following code in ClojureScript.
	$(document).ready(function() {
		var currentMousePos = { x: -1, y: -1 };
        var timer;
        var fadeInBuffer = false;
        $(document).mousemove(function (event) {
            currentMousePos.x = event.pageX;
            currentMousePos.y = event.pageY;
            if (!fadeInBuffer) {
                if (timer) {
                    clearTimeout(timer);
                    timer = 0;
                }
            } else {
                fadeInBuffer = false;
            }

            timer = setTimeout(function () {
                fadeInBuffer = true;
                if ($('.slide-content').length > 0)
                    return;
                var keepTooltips = false;
                $($(":hover").get().reverse()).each(function (index, element) {
                    if ($(element).hasClass('anchor')) {
                        keepTooltips = true;
                        return false;
                    } else if ($(element).hasClass('tooltip-inner')) {
                        // $(element).parent().nextAll('.tooltip').remove();
                        var removeFlag = false;
                        $('.tooltip').each(function (index, elementInnerLoop) {
                            if (removeFlag)
                                $(elementInnerLoop).remove();
                            if ($(element).parent()[0] == elementInnerLoop)
                                removeFlag = true;
                        });
                        keepTooltips = true;
                        return false;
                    }
                });

                if (!keepTooltips) {
                    $('.anchor').tooltip('hide');
                    $('.tooltip').remove();
                }
            }, 250)
        });

        // For attachment
        $(document).on('change', '.btn-file :file', function() {
            var file = $(this).get(0).files[0];
            var preview = $(this).parent().children('img');
            var preview_label = $(this).parent().children('span');
            var numFiles = $(this).get(0).files ? $(this).get(0).files.length : 1;
            var label = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            if ($(this).val() && file.type.match('image.*')) {
                var fileRdr = new FileReader();
                fileRdr.onload = function() {
                    preview.attr('src', fileRdr.result);
                }
                fileRdr.readAsDataURL(file);
                preview_label.html("<br />" + decodeURIComponent(escape(label)) + ' (' + Math.round($(this).get(0).files[0].size / 1024) + 'KB)').css('color', 'black');
            } else if ($(this).val()) {
                preview.attr('src', "");
                preview_label.html(escape(decodeURIComponent(label))).css('color', 'black');
            } else {
                preview.attr('src', "");
                preview_label.html('添付ファイル').css('color', 'gray');
            }
        });

        $('html, body')
            .on("dragenter", function(event) { event.preventDefault(); })
            .on("dragover", function(event) { event.preventDefault(); })
            .on("drop", function(event) {
                event.stopPropagation();
                event.preventDefault();
                if ($('.btn-file :file').length > 0)
                    $('.btn-file :file')[0].files = event.originalEvent.dataTransfer.files;
                return false;
            });
    });

    // Post Form
    function switchTabsForPostForm (newActiveTab) {
        var prevActiveTabID = $("#post-form-tabs > li.active").attr('id');
        if ($(newActiveTab).hasClass("active"))
            return;
        $("#post-form-tabs > li").removeClass('active');
        $(newActiveTab).addClass("active");

        if (prevActiveTabID == 'post-form-emoji-tab') {
            $("#post-form .input-group").hide();
            $("#post-form .emojionearea").hide();
        } else if (prevActiveTabID == 'post-form-edit-tab') {
            $("#post-form .input-group").hide();
            $("#post-form textarea#body").hide();
            $("#post-form .emojionearea").hide();
        } else if (prevActiveTabID == 'post-form-preview-tab') {
            $("#post-preview").hide();
        }

        if ($(newActiveTab).attr('id') == 'post-form-emoji-tab') {
            $("#post-form .input-group").show();
            $("#post-form textarea#body").emojioneArea({
                // options
                autoHideFilters: false,
                hideSource: true,
                // shortnames: true,
                useSprite: false,
            })[0].emojioneArea.setText($("#post-form textarea").val());
            $("#post-form .emojionearea").show();
        } else if ($(newActiveTab).attr('id') == 'post-form-edit-tab') {
            $("#post-form .input-group").show();
            $("#post-form textarea#body").show();
        } else if ($(newActiveTab).attr('id') == 'post-form-preview-tab') {
        }
    }
</script>
</body>
</html>
