	html {
		overflow: -moz-scrollbars-vertical;
		overflow-y: scroll;

        /*
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		*/
	}

	body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
	    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	}

    /* For BootstrapModal */
    body {
        padding-right:0px !important;
        margin-right:0px !important;
    }

    #navbar-toggle-button {
        padding-top: 6px;
        padding-bottom: 5px;
        margin-top: 4px;
        margin-bottom: 3px;
    }

    #navbar-toggle-button > span.glyphicon.glyphicon-triangle-bottom {
        margin-left: 4px;
        font-size: 10px;
    }

    .navbar.navbar-fixed-top {
        min-height: 40px;
    }

    .navbar>.container .navbar-brand {
        height: 40px;
    }

    .navbar>.container .navbar-brand,
    .navbar-nav>li>a{
    padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-fixed-bottom {
        min-height:36px;
        height:36px;
    }

    .navbar-fixed-bottom .btn {
        margin:2px 0;
    }

	.panel {
		margin-bottom: 10px;
		z-index: -1;
	}

	.panel-heading {
		overflow-x: hidden;
		font-size: 14px;
	}

	.panel-body {
		overflow-x: hidden;
	}

	.panel-body.with-reverse-anchors {
		padding-bottom: 5px;
	}

	a {
	    word-break: break-all;
	    cursor: pointer;
	}

	body > #app > .container {
	  max-width: 640px;
	  padding: 55px 15px 39px;
	}

	body > #app > .container.without-navbar {
	  padding-top: 15px;
	}

	body > #app > .container.without-navbar-bottom {
	  padding-bottom: 5px;
	}

	body > #app > .container > h2:first-child,
	body > #app > .container > h3:first-child,
	body > #app > .container > a > h3:first-child {
	  margin-top: 0px;
	  color: black;
	}

    #threads {
        margin-bottom: 10px;
    }

    .refresh-threads-button {
        margin-bottom: 10px;
    }

	.panel-body > h1:first-child,
	.panel-body > h2:first-child,
	.panel-body > h3:first-child,
	.panel-body > h4:first-child,
	.panel-body > h5:first-child {
		margin-top: 0 !important;
	}

    @media(min-width:768px) {
	#main-menu-column {
	    padding-right: 7.5px;
	}
  	#tag-menu-column {
  	    padding-left: 7.5px;
  	}
    }

    .alert {
        margin-bottom: 10px;
    }

	#main-menu {
	    max-width: 100%;
	    margin: 0 0;
	    text-align: left;
	    margin-bottom: 15px;
	}

	#tag-menu {
	    text-align: left;
	}

	#tag-menu > .panel-body {
	    padding:10px 10px 5px 15px;
	}

	#tag-menu > .panel-body > .btn-group {
	    margin-right:5px;
	}

	#tag-menu > .panel-body > .btn-group > a.btn {
	    min-width:39px;margin-right:0px;margin-bottom:5px;
	}

    .page-jump-buttons {
        margin-bottom: 10px;
    }

    #new-posts .alert.alert-info.thread-title {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .post .id,
    .post .name,
    .post .mail,
    .post .signature,
    .post .timestamp,
    .post .timestamp,
    .post .attachment,
    .popup .id,
    .popup .name,
    .popup .mail,
    .popup .signature,
    .popup .timestamp,
    .popup .timestamp,
    .popup .attachment {
        word-break: keep-all;
        white-space: nowrap;
        margin-bottom: 4px;
    }

    .post .panel-heading {
        padding-bottom: 6px;
    }

    .post .id,
    .popup .id,
    .anchor,
    .bracket-link {
        font-size: 14px;
    }

    .post .attachment,
    .popup .attachment {
        font-size: 14px;
    }

    .glyphicon {
        top: 2px;
    }

    .post .glyphicon.glyphicon-tag {
        top: 2px;
    }

    .post .glyphicon.glyphicon-user {
        top: 1px;
    }

    .post .name {
        color: green;
        font-weight: bold;
    }

    .post .glyphicon.glyphicon-pencil {
        top: 1px;
    }

    .post .signature {
        color: red;
    }

    .post .glyphicon.glyphicon-time {
        top: 2px;
    }

	.post img {
	    cursor: pointer;
	}

    .post hr {
	    margin-top: 15px;
	    margin-bottom: 15px;
	}

    .post > .panel-body {
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .post > .panel-body > .markdown > :last-child {
        margin-bottom: 0;
    }

    .post > .panel-body > .markdown > pre > code {
        overflow-x: auto;
        word-wrap: normal;
        white-space: pre;
    }

	.video-container {
		position: relative;
		padding-bottom: 56.25%;/* 16:9 */
		padding-top: 25px;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/*
	embed[src*="nicovideo.jp"]{
		width: 100%;
		height: auto;
	}
	*/

	input {
		max-width: 1;
	}

	.tooltip.in {
		opacity: 1;
	}

	.tooltip-inner {
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ;
		font-size: 14px;
	    text-align: left;
		color: black;
    	background: #ffd;
		border: solid 1px #dda;
		padding:8px;
		margin-left: 0px;
		overflow: hidden;
	}

    @media(min-width:320px) {
        .tooltip-inner {
            max-width: 320px;
        }
        }

        @media(min-width:512px) {
        .tooltip-inner {
            max-width: 512px;
        }
    }

    .tooltip.top .tooltip-arrow,
    .tooltip.bottom .tooltip-arrow{
	    border-top-color: #dda;
	    border-bottom-color: #dda;
	}

	.reverse-anchors > hr {
	    margin-bottom: 5px;
	}

	.reverse-anchors > div {
	    padding-left: 32px;
	}

	.popup-heading {
	    background: #ebebc4;
	    border: solid 1px #cc0;
	    padding: 8px;
	    padding-bottom: 4px;
	    margin-bottom: 8px;
	}

	.popup .anchor {
	    background: #ebebc4;
	    border: solid 1px #cc0;
	}

	.popup-heading > .btn {
        background-color: #ffffcc;
	    border: solid 1px #cc0;
    }

	.anchor,
    .bracket-link {
		display: inline-block;
		padding: 0px 8px;
		vertical-align: baseline;
		margin: 2px;
	}

	.anchor {
		background-color: #f5f5f5;
	}

	.tooltip-inner > .anchor {
		background-color: #ebebc4;
		border: solid 1px #cc0;
	}

	/*
	.dropdown-menu {
		position:fixed;
	}
	*/

	#post-form textarea#body {
		resize: vertical;
		height: 200px;
	}

	#g-recaptcha {
	    margin-bottom: 10px;
	}

	.input-wrapper {
		border: 1px solid lightgrey;
		border-radius: 0 4px 4px 4px;
		display: block;
		margin-bottom: 10px;
	}
	.wrapped-input {
		border-radius: 0 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid lightgrey;
	}
	.wrapped-input:last-child {
		border-bottom: none;
	}
	.no-border {
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
	.btn-file {
		position: relative;
		overflow: hidden;
		text-align: left;
		color: gray;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	.gist, .gist-file {
		margin-bottom: 0 !important;
	}

	blockquote {
		font-size: 14px;
		padding: 5px 10px;
		border-left: 3px solid #eee;
	}

    .glyphicon.spinning.loading-page {
        display:block;
        text-align:center;
        font-size:32px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top:-16px;
        margin-left:-16px;
    }

    .glyphicon.spinning.loading-component {
        display:block;
        text-align:center;
        font-size:32px;
        padding: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    #post-form-tabs .active {
        border-bottom: 1px solid lightgray;
    }

    img.emojione,
    .emojionearea .emojionearea-tabs .emojionearea-tab .emojibtn,
    .emojionearea .emojionearea-tabs .emojionearea-tab .emojibtn img,
    .emojionearea .emojionearea-editor [class*=emojione-], .emojionearea .emojionearea-editor .emojione {
        width:16px; height: 16px; min-width: 16px; min-height: 16px;
    }
    .emojionearea .emojionearea-filters .emojionearea-filter,
    .emojionearea .emojionearea-filters .emojionearea-filter img {
        width:22px; height: 22px; min-width: 22px; min-height: 22px;
    }
    .emojionearea .emojionearea-filters .emojionearea-filter
    {
        border: 6px solid #e5e5e5;
    }
    .emojionearea .emojionearea-filters,
    .emojionearea .emojionearea-filters .emojionearea-filters-scroll {
        height: 35px;
    }
    .emojionearea, .emojionearea.form-control {
        border: none;
        border-radius: 0;
    }
    .emojionearea .emojionearea-editor {
        height: 165px;
    }
    #post-preview {
        height: 303px;
        padding: 10px;
        overflow-y: auto;
    }

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

